* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 96px;
  padding-bottom: 64px;
  border-bottom: 8px solid #999;
}

header .max-width-wrapper {
  max-width: 800px;
  padding: 0 24px;
  margin: auto;
}

main {
  background-color: #666;
  padding: 64px 0px;
}

main .max-width-wrapper {
  max-width: 800px;
  margin: auto;
}

.intro-chunk {
  max-width: 400px;
}

.intro-chunk h1 {
  font-size: 2rem;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk p:first-of-type {
  margin-top: 48px;
}

.intro-chunk p:last-child {
  margin-bottom: 0;
}

.intro-chunk strong {
  color: #096;
  font-weight: 800;
}

.indented-heading {
  padding: 12px 24px 12px 32px;
  border-bottom: 8px solid #c90;
  background: #ffbf00;
  margin: 0px;
  margin-left: -8px;
  margin-right: 24px;
  max-width: fit-content;
  font-size: 1.5rem;
}

.card {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 24px;
  border-bottom: 8px solid #999;
}

.card p {
  margin: 24px 0;
  padding: 0 24px;
  font-size: 1.25rem;
}

.card p:last-child {
  margin-bottom: 0;
}
